<h1>Users#index</h1>

<% @users.each do |user| %>
  <p><%= user.level %></p>
  <p><%= user.email %></p>
  <p><%= user.first_name %></p>
  <p><%= user.last_name %></p>
  <p><%= user.gender %></p>
  <p><%= user.usual_court_address %></p>
<% end %>
