<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">


      <h2>Avatars</h2>
      <%= image_tag('id.jpg', alt: "user", class: "avatar") %>
      <%= image_tag('id.jpg', alt: "user", class: "avatar-large") %>
      <%= image_tag('id.jpg', alt: "user", class: "avatar-brodered") %>
      <%= image_tag('id.jpg', alt: "user", class: "avatar-square") %>
      <br><br><br>
      <div class="col-xs-12 text-center">
        <h2>Buttons</h2>
        <br><br>
      </div>
      <div class="col-xs-3 col-xs-offset-3">
        <a href="#" class="beachbuddy-btn beachbuddy-btn-main">Some action</a>
      </div>
      <div class="col-xs-3">
      <a href="#" class="beachbuddy-btn beachbuddy-btn-complementary">Other action</a>
      <br><br>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
   <div class="col-xs-12 text-center">
      <h2>Cards</h2>
    </div>
    <div class="col-xs-4">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('background.jpeg') %>);">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Some stuff</h2>
              <p>Very cool stuff, useful and smart</p>
            </div>
            <%= image_tag('id.jpg', alt: "user", class: "avatar card-user") %>
            <a class="card-link" href="#" ></a>
          </div>

    </div>
        <div class="col-xs-4">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('background.jpeg') %>);">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Some stuff</h2>
              <p>Very cool stuff, useful and smart</p>
            </div>
            <%= image_tag('id.jpg', alt: "user", class: "avatar card-user") %>
            <a class="card-link" href="#" ></a>
          </div>

    </div>
        <div class="col-xs-4">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('background.jpeg') %>);">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Some stuff</h2>
              <p>Very cool stuff, useful and smart</p>
            </div>
            <%= image_tag('id.jpg', alt: "user", class: "avatar card-user") %>
            <a class="card-link" href="#" ></a>
          </div>

    </div>
  </div>
</div>
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>List item player with media</h2>
    </div>
    <div class="col-xs-12">

      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <%=  image_tag("background.jpeg", class: "product-image hidden-xs") %>
        <div class='product-body'>
          <h3>Kudoz</h3>
          <p>Les meilleures offres d'emploi cadre sur mobile</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<br><br><br>
