<% unless @user.rankings.empty? %>
  <div class="bbbox">
    <div class="bbbox-title">
      <h4> <%= pluralize_without_count @user.rankings.size, "Ranking" %> </h4>
    </div>
    <div class="bbbox-content">
        <% @user.rankings.each do |ranking| %>
            <%= flag_icon(ranking.federation.country.country_code.to_sym) %>
            Ranking <strong><%= ranking.score %></strong><em>th</em> as of <strong><%= ranking.date %></strong> in
          <a href="<%= ranking.federation.url %>" target="_blank"><%= ranking.federation.name.downcase %></a>
            (<%= ranking.federation.country.name %>)

        <% end %>
    </div>
  </div>
<% end %>
